<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>ANCOR - {{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ prj_ref }}/bundles/bootstrap3/css/bootstrap.css" media="screen">
    <link type="text/css" rel="stylesheet" href="{{ prj_ref }}/bundles/public/css/app.css?{{ asset }}" media="screen">
</head>
<body>
<div class="container main">
    <div class="logo"><img src="{{ prj_ref }}/bundles/public/img/logo_ancor.png"></div>
    <h1>{{ h1 }}</h1>
    {{ render('Fuga:Public:Poll:index') }}
</div>
<script src="{{ prj_ref }}/bundles/jquery/jquery.js"></script>
<script src="{{ prj_ref }}/bundles/bootstrap3/js/bootstrap.min.js"></script>
<script src="{{ prj_ref }}/bundles/storage/jquery.storageapi.min.js"></script>
<script src="{{ prj_ref }}/bundles/public/js/app.js?{{ asset }}"></script>

</body>
</html>